STRINGTABLE
{
//Deutsch
100, "Information"
101, "Warnung"
102, "Fehler"
103, "Frage"
104, "Bestätigung"
105, "Update"
106, "abbrechen"
107, "Abgebrochen!"
108, "Fertig!"
109, "Bitte Download-Ordner wählen"
110, "Wollen Sie den Download wirklich beenden?"
111, "Wollen Sie das Update jetzt installieren?"
112, "Keine Verbindung zum Update-Server!"
113, "Bitte überprüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
114, "Hilfe"
115, "Nach Update suchen"
116, "Zertifikat herunterladen"
117, "Über ..."
118, " nicht möglich!"
119, " HTTP Fehler: %d"
120, "Ansicht"
121, "Update (Build %d) verfügbar!"
122, "Möchten Sie es jetzt herunterladen?"
123, "Kein Update verfügbar!"
124, "Update herunterladen"
125, "Sprache wählen"
126, "Fehler melden"
127, "Das Zertifikat von PM Code Works ist bereits installiert!"
128, "Wollen Sie es trotzdem herunterladen?"
129, "Zur Website"
130, "Download wurde abgebrochen!"
131, "Schwerwiegender Fehler"
132, "Technische Details"
133, ""
134, "Seit kurzem wird %s als 64-Bit Version zum Download angeboten, wodurch "
135, "Ihr System Ressourcen optimaler nutzen kann. Wollen Sie diese herunterladen?"
136, "Registry Datei *.reg|*.reg"
137, "Öffne Clearas"
138, "Anwendung *.exe|*.exe|Batch-Datei *.bat|*.bat"
139, "STARTUP-Dateien *%s|*%s|COMMONSTARTUP-Dateien *%s|*%s"
140, "Anwendung \"%s\" existiert bereits!"
141, "Eintrag existiert bereits!"
142, "Backup wurde erfolgreich unter \"%s\" erstellt!"
143, "Backup konnte nicht erstellt werden!"
144, "Soll das Backup auch gelöscht werden?"
145, "Die Datei existiert nicht mehr!"
146, "Falls das Programm deinstalliert wurde kann dieser Eintrag gelöscht werden!"
147, "Symbole anzeigen"
148, "Wollen Sie den Autostart-Eintrag \"%s\" wirklich löschen?"
149, "Der Eintrag wird dauerhaft gelöscht! "
150, "Es kann zu Problemen bei der Ausführung des Programms kommen!"
151, "In Explorer öffnen"
152, "Wollen Sie den zu löschenden Eintrag in einer Datei speichern?"
153, "Es wurde kein Eintrag ausgewählt!"
154, "Ändern Sie hier den Pfad:"
155, "Programm konnte nicht ín den Autostart geladen werden!"
156, "Dienst (%d/%d)"
157, "Dienst hinzufügen"
158, "Wollen Sie den Dienst \"%s\" wirklich löschen?"
159, "Start"
160, "Dienste"
161, "automatisch"
162, "manuell"
163, "Suchen ..."
164, "Clearas ist nicht kompatibel zu ihrer Windows-Version (%s). "
165, "Sie benötigen mindestens Windows 2000!"
166, "In RegEdit öffnen"
167, "Grund: "
168, "Datei"
169, "Programm hinzufügen"
170, "Backup importieren"
171, "Eintrag exportieren"
172, "Einträge exportieren"
173, "Beenden"
174, "Bearbeiten"
175, "Papierkorb Kontextmenü-Eintrag"
176, "Backup beim Aktivieren löschen"
177, "Aktualisieren"
178, "Standard Spaltengröße"
179, "Spaltengröße optimeren"
180, "Deaktivierungsdatum"
181, "RunOnce-Einträge"
182, "Folgende Programme werden bei jedem Start ausgeführt."
183, "Autostart"
184, "Kontextmenü"
185, "Wollen Sie den Kontextmenü-Eintrag \"%s\" wirklich löschen?"
186, "Folgende Einträge sind in verschiedenen Kontextmenüs enthalten."
187, "Eintrag (%d/%d)"
188, "Programm (%d/%d)"
189, "Expertenmodus"
190, "Ort"
191, "Aktiviert"
192, "Schlüssel"
193, "Aktivieren"
194, "Deaktivieren"
195, "Exportieren"
196, "Löschen"
197, "Eintrag wird wie folgt benannt:"
198, "Parameter angeben (optional):"
199, "Parameter bearbeiten"
200, "Ein anderer Vorgang wird noch ausgeführt! "
201, "Bitte warten Sie, bis er beendet ist."
202, "ja"
203, "nein"
204, "Pfad bearbeiten"
205, "Kontextmenü hinzufügen"
206, "Ort kopieren"
207, "Sichere Updates"
208, "Seit kurzem werden sichere Updates über eine verschlüsselte Verbindung "
209, "zum Update-Server angeboten. Dazu wird ein Zertifikat benötigt."
210, "Wollen Sie dieses installieren, um sichere Updates zu empfangen?"

//Englisch
300, "Information"
301, "Warning"
302, "Error"
303, "Question"
304, "Confirmation"
305, "Update"
306, "abort"
307, "Canceled!"
308, "Done!"
309, "Please select download folder"
310, "You really want to stop the download?"
311, "Do you want to install the update now?"
312, "Unable to connect to the update server!"
313, "Please check your internet connection and try again."
314, "Help"
315, "Search for Update"
316, "Download Certificate"
317, "About ..."
318, " impossible!"
319, " HTTP error: %d"
320, "View"
321, "Update (Build %d) available!"
322, "Do you want to download it now?"
323, "No update available!"
324, "Download the update"
325, "Choose Language"
326, "Report a bug"
327, "The certificate of PM Code Works is already installed!"
328, "Do you want to download it anyway?"
329, "Go to website"
330, "Download has been canceled!"
331, "Fatal error"
332, "Technical details"
333, ""
334, "Recently %s is offered as a 64-bit version to download allowing your "
335, "system to use resources optimally. Do you want to download this?"
336, "Registy file *.reg|*.reg"
337, "Open Clearas"
338, "Application *.exe|*.exe|Batch file *.bat|*.bat"
339, "STARTUP-files *%s|*%s|COMMONSTARTUP-files *%s|*%s"
340, "Application \"%s\" already exists!"
341, "Item already exists!"
342, "Backup successfully created under \"%s\"!"
343, "Backup could not be created!"
344, "Shall the Backup be deleted too?"
345, "File does not exist anymore!"
346, "If the program has been uninstalled this item can be deleted!"
347, "Show icons"
348, "Are you sure you want to delete the startup item \"%s\"?"
349, "The item will be deleted permanently! "
350, "You may have problems within the runtime of the application!"
351, "Open in Explorer"
352, "Do you want to save the item in a file?" 
353, "No item was selected!"
354, "Modify the path from here:"
355, "Program could not be loaded into the startup folder!"
356, "Service (%d/%d)"
357, "Add service"
358, "Are you sure you want to delete the service \"%s\"?"
359, "Start" 
360, "Services"
361, "automatically"
362, "manually"
363, "Search ..."
364, "Clearas is not compatible to your Windows Version (%s). "
365, "At least you need Windows 2000!"
366, "Open in RegEdit"
367, "Reason: "
368, "File"
369, "Add program"
370, "Import Backup"
371, "Export item" 
372, "Export items"
373, "Quit"
374, "Edit"
375, "Recycle bin context menu item"
376, "Delete backup while activating"
377, "Refresh"
378, "Default column width"
379, "Optimate column width"
380, "Date of deactivation"
381, "RunOnce items"
382, "The following programs are run at every startup."
383, "Startup"
384, "Context Menu"
385, "Are you sure you want to delete the context menu item \"%s\"?"
386, "The following items are included in different context menus."
387, "Item (%d/%d)"
388, "Program (%d/%d)"
389, "Expert mode"
390, "Location"
391, "Enabled"
392, "Key"
393, "Enable"
394, "Disable"  
395, "Export"
396, "Delete"
397, "Item will be named as follows:"
398, "Specify parameters (optional):"
399, "Edit parameters"
400, "Another operation is pending! "
401, "Please wait until it has finished."
402, "yes"
403, "no"
404, "Edit path"
405, "Add context menu"
406, "Copy location"

//Französisch
500, "Information"
501, "Avertissement"
502, "Erreur"
503, "Question"
504, "Confirmation"
505, "MAJ"
506, "abandonner"
507, "Annulé!"
508, "Prêt!"
509, "S'il vous plaît sélectionnez le dossier de téléchargement"
510, "Vous voulez vraiment arrêter le téléchargement?"
511, "Voulez-vous installer la mise à jour maintenant?"
512, "Impossible de se connecter au serveur de mise à jour!"
513, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
514, "Aider"
515, "Chercher mise à jour"
516, "Télécharger le certificat"
517, "à propos de..."
518, " impossible!"
519, " HTTP erreur: %d"
520, "Vue"
521, "Mise à jour (Build %d) disponible!"
522, "Voulez-vous le télécharger maintenant?"
523, "Il n'ya pas de mise à jour disponible!"
524, "Télécharger mise à jour"
525, "Choisir langue"
526, "Signaler une erreur"
527, "Le certificat de PM Codeworks est déjà installé!"
528, "Voulez-vous télécharger de toute façon?"
529, "Aller sur le site"
530, "Télécharger a été annulé!"
531, "Erreur fatale"
532, "Détails techniques"
533, ""
534, "Récemment %s est offert en version 64 bits pour télécharger permettre à "
535, "votre système de fonctionner de manière optimale. Voulez-vous télécharger ce?"
536, "Fichier enregistrement *.reg|*.reg"
537, "Ouvrir Clearas"
538, "Application *.exe|*.exe|Fichier batch *.bat|*.bat"
539, "Fichiers STARTUP *%s|*%s|Fichiers COMMONSTARTUP-files *%s|*%s"
540, "L'application \"%s\" existe déjà!"
541, "Entrée existe déjà!"
542, "Backup était créé avec succès sous \"%s\" créé!"
543, "Ce n'était pas possible de créer le backup!"
544, "Est'ce que le backup sera supprimé aussi?"
545, "Le fichier ne existe plus!"
546, "Si le programme a été désinstallé cette entrée peut être supprimé"
547, "Afficher les icônes"
548, "Voulez-vous vraiment supprimer l'entrée autostart \"%s\"?"
549, "L'entrée sera supprimée à demeure! "
550, "Il pourrait exister des problèmes en question de l'effectuer le logiciel!"
551, "Ouvert dans Explorateur"
552, "Voulez-vous sauvegarder l'entrée qui doit être supprimée?"
553, "Il ne était pas un élément choisi!"
554, "Modifiez le chemin d'ici:"
555, "Le logiciel ne pouvait pas être chargé dans l'autostart!"
556, "Service (%d/%d)"
557, "Ajouter un service"
558, "Voulez-vous vraiment supprimer le service \"%s\"?"
559, "Démarrage"
560, "Services"
561, "automatiquement"
562, "manuellement"
563, "Recherche ..."
564, "Clearas n'est pas compatible votre version de Windows (%s). "
565, "Vous avez besoin de Windows 2000 au moins!"
566, "Ouvert dans RegEdit"
567, "Cause: "
568, "Fichier"
569, "Ajouter un programme"
570, "Importer backup"
571, "Exporter entrée"
572, "Exporter entrées"
573, "Arrêter"
574, "Modifier"
575, "Corbeille entrée dans menu contextuel"
576, "Supprimer backup au cours d'activer"
577, "Actualiser"
578, "Taille standard de la colonne"
579, "Optimaliser taille de la colonne"
580, "Date de la désactivation"
581, "Entrées RunOnce"
582, "Les programmes suivants sont exécutés à chaque démarrage."
583, "L'autostart"
584, "Menu contextuel"
585, "Voulez-vous vraiment supprimer l'entrée menu contextuel \"%s\"?"
586, "Les éléments suivants sont inclus dans les différents menus contextuels."
587, "Entrée (%d/%d)"
588, "Logiciel (%d/%d)"
589, "Mode expert"
590, "Lieu"
591, "Permis"
592, "Clef"
593, "Permettre"
594, "Désactiver"
595, "Exporter"
596, "Supprimer"
597, "L'entrée sera nommé comme suit:"
598, "Spécifier les paramètres (facultatif):"
599, "Modifier les paramètres"
600, "Une autre opération est en cours! "
601, "Se il vous plaît attendre jusqu'à ce qu'il ait fini."
602, "oui"
603, "non"
604, "Modifier le chemin"
605, "Ajouter un menu contextuel"
606, "Copier l'emplacement"
}