STRINGTABLE
{
100, "Programme aus dieser Liste (mit einem \"ja\") werden bei jedem Start geladen."
101, "Aktiv"
102, "Programm "
103, "Sprache wählen"
104, "Schlüssel"
105, "Deaktivierungsdatum"
106, "Aktivieren"
107, "Deaktivieren"
108, "Exportieren"
109, "Löschen"
110, "Beenden"
111, "Datei"
112, "Bearbeiten"
113, "Ansicht"
114, "Hilfe"
115, "Programm hinzufügen"
116, "Backup importieren"
117, "Eintrag exportieren"
118, "Liste exportieren"
119, "Papierkorb Kontextmenü-Eintrag"
120, "Backup beim Aktivieren löschen"
121, "Aktualisieren"
122, "Standard Spaltengröße"
123, "Spaltengröße optimeren"
124, "Deaktivierungsdatum anzeigen"
125, "Service Pack anzeigen"
126, "Über..."
127, "Frage"
128, "Information"
129, "Warnung"
130, "Fehler"
131, "ja"
132, "nein"
133, "Registrierungsdatei exportieren"
134, "Nach Programm suchen"
135, "Eigenschaften"
136, "Registrierungsdatei *.reg|*.reg"
137, "RunOnce-Einträge anzeigen"
138, "Anwendung *.exe|*.exe|Verknüpfung *.lnk|*.lnk|Batch-Datei *.bat|*.bat"
139, "STARTUP-Dateien *.Startup|*.Startup|COMMONSTARTUP-Dateien"
140, "Anwendung "
141, "Backup "
142, "existiert bereits!"
143, "Wollen Sie sie ersetzen?"
144, "Backup wurde erfolgreich unter "
145, "erstellt!"
146, "Fehler! Backup konnte nicht erstellt werden!"
147, "Soll das Backup auch gelöscht werden?"
148, "Wollen Sie den Autostart-Eintrag von "
149, " wirklich löschen?"
150, "Der Eintrag wird dauerhaft gelöscht! "
151, "Wollen Sie von dem zu löschenden Eintrag ein Backup erstellen?"
152, "Wollen Sie den zu löschenden Eintrag in einer Datei speichern?"
153, "Pfad bearbeiten"
154, "Fügen Sie dem Pfad Parameter hinzu, falls notwendig oder ändern Sie ihn ab:"
155, "Fehler! Programm konnte nicht ín den Autostart geladen werden!"
156, "Fehler! Verknüpfung konnte nicht ín den Autostart geladen werden!"
157, "Es kann zu Problemen bei der Ausführung des Programms kommen!"
158, "Exportieren"
159, "Bitte wählen Sie einen anderen Eintrag aus!"
160, "Dateipfad:"
161, "Registrierungsschlüssel:"
162, "Eigenschaften von "
163, "Aktivieren"
164, "Deaktivieren"
165, "Löschen"
166, " nicht möglich!"
167, "Grund: "
168, "Autostart-Snapshot vom "
169, " um "
170, "unbekannt"
171, "Öffne Clearas"
172, "\\Öffne Clearas\\command"
173, "Fehler beim Zugriff auf den Autostart-Ordner!"
174, "Fehler beim Zugriff auf die Registry!"
175, "Fehler beim Löschen des Wertes!"
176, "Fehler beim Erstellen des Schlüssels!"
177, "Fehler beim Löschen des Schlüssels!"
178, "Fehler beim Erstellen oder Löschen des Schlüssels!"
179, "Fehler beim Erstellen oder Löschen der Verknüpfung!"
180, "Es trat ein unbekannter Fehler auf!"
181, "Clearas ist nicht kompatibel zu ihrer Windows-Version ("
182, "). Sie benötigen mindestens Windows 2000!"
183, "Autostart"
184, "Kontextmenü"
185, "Wollen Sie den Kontextmenü-Eintrag von "
186, "Einträge dieser Liste sehen Sie in verschiedenen Kontextmenüs."
187, "Eintrag"
188, "Ort"
189, "Wollen Sie den Download wirklich beenden?"
190, "Expertenmodus"
191, "Nach Update suchen"
192, "Bitte Ordner wählen:"
193, "Fertig!"
194, "Quelle nicht gefunden!"
195, "Abgebrochen!"
196, "Abbrechen"
197, "Zertifikat herunterladen"
198, "Clearas Update verfügbar! Möchten Sie es jetzt herunterladen?" 
199, "Kein Update verfügbar!"
200, "Clearas Update"
201, "Personal Edition herunterladen"
202, "Wollen Sie die Personal Edition jetzt installieren?"
203, "Fehler beim Erstellen der Datei!"
204, "Keine Verbindung zum Update-Server!"
205, "Bitte prüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
206, "Eintrag bearbeiten"
207, "Eintrag wird wie folgt benannt:"
208, "Fehler melden"
209, "Parameter bearbeiten"
210, "Parameter angeben (optional):"

//Englisch
300, "Programs in this list (with \"yes\") will be loaded at every start."
301, "Active"
302, "Program "
303, "Choose language"
304, "Key"  
305, "Date of Deactivation"
306, "Activate"
307, "Deactivate"
308, "Export"
309, "Delete"
310, "Quit"
311, "File"
312, "Edit"
313, "View"
314, "Help"
315, "Add program"
316, "Import Backup"
317, "Export entry"
318, "Export list"
319, "Recycle Bin context menu entry"
320, "Delete backup while activating"
321, "Refresh"
322, "Standard columnwidth"
323, "Optimate columnwidth"
324, "Show date of deactivation"
325, "Show service pack"
326, "About..."
327, "Question"
328, "Information"
329, "Warning"
330, "Error"
331, "yes"
332, "no"
333, "Export regfile"
334, "Search for program"
335, "Properties"
336, "Regfile *.reg|*.reg"
337, "Show RunOnce-entries"
338, "Application *.exe|*.exe|Link file *.lnk|*.lnk|Batch file *.bat|*.bat"
339, "STARTUP-files *.Startup|*.Startup|COMMONSTARTUP-files"
340, "Application "
341, "Backup "
342, "already exists!"
343, "Do you want to replace them?"
344, "Backup successfully created under "
345, "!"
346, "Error! Backup could not be created!"
347, "Shall the Backup be deleted too?"
348, "Are you sure you want to delete the Startup Entry of "
349, "?"
350, "The Entry will be deleted permanently! "
351, "Do you want to create a Backup of this program?"
352, "Do you want to save the entry in a file?" 
353, "Edit path"
354, "Add parameters to the path if necessary or just edit it:"
355, "Error! Program could not be loaded to the Startup folder!"
356, "Error! The linkfile could not be loaded to the Startup folder!"
357, "You may have problems within the runtime of the application!"
358, "Export"
359, "Please choose an other entry!" 
360, "Filepath:"
361, "Registrykey:"
362, "Properties of "
363, "Activation"
364, "Deactivation"
365, "Deleting"
366, " impossible!"
367, "Reason: "
368, "Startup Snapshot "
369, " at "
370, "unknown"
371, "open Clearas" 
372, "\\Open Clearas\\command"
373, "Error while access to the Startup folder!"
374, "Error while access to the Registry!"
375, "Error while deleting a figure!"
376, "Error while creating a key!"
377, "Error while deleting a key!"
378, "Error while creating or deleting a key!"
379, "Error while creating or deleting a linkfile!"
380, "Unknown Error occurred!"
381, "Clearas is not compatible to your Windows Version ("
382, "). At least you need Windows XP!"
383, "Startup"
384, "Context Menu"
385, "Are you sure you want delete the Context Menu entry of "
386, "Entries in this list you see in many Context Menues."
387, "Entry"
388, "Location"
389, "Do you want to finish downloading it?"
390, "Expertmode"
391, "Search for Update"
392, "Please select a folder:"
393, "Done!"
394, "Source not found!"
395, "Canceled!"
396, "Abort"
397, "Download Certificate"
398, "Clearas Update available! Do you want to download it now?"
399, "No update available!"
400, "Clearas Update"
401, "Download Personal Edition"
402, "Do you want to install the Personal Edition now?"
403, "Error while creating the file!"
404, "No connection to update-server!"
405, "Please check your internet connectivity and try again."
406, "Edit entry"
407, "Entry will be named as follows:"
408, "Report a bug"
409, "Edit Parameters"
410, "Specify parameters (optional):"

//Französisch
500, "Logiciels de cette liste (avec \"oui\") deviendront chargés à chaque démarrage."
501, "Aktif"
502, "Logiciel "
503, "Choisir langue"
504, "Clef"
505, "Date de la désactivation"
506, "Activer"
507, "Désactiver"
508, "Exporter"
509, "Supprimer"
510, "Arrêter"
511, "Fichier"
512, "Modifier"
513, "Affichage"
514, "Aide"
515, "Ajouter logiciel"
516, "Importer backup"
517, "Exporter entrée"
518, "Exporter liste"
519, "Corbeille entrée dans menu contextuel"
520, "supprimer backup au cours d'activer "
521, "Actualiser"
522, "Taille standard de la colonne"
523, "Optimaliser taille de la colonne"
524, "Afficher date de la désactivation"
525, "Afficher service pack"
526, "à propos de..."
527, "Question"
528, "Information"
529, "Avertissement"
530, "Erreur"
531, "oui"
532, "non"
533, "Exporter fichier enregistrement"
534, "Chercher logiciel"
535, "Propriété"
536, "Fichier enregistrement *.reg|*.reg"
537, "Afficher les enregistrements RunOnce"
538, "Application *.exe|*.exe|Raccourci *.lnk|*.lnk|Fichier batch *.bat|*.bat"
539, "Fichiers STARTUP *.Startup|*.Startup|fichiers COMMONSTARTUP"
540, "L'application "
541, "Backup "
542, "existe déjà!"
543, "Voulez-vous la remplacer?"
544, "Backup était créé avec succès sous "
545, "créé!"
546, "Erreur! Ce n'était pas possible de créer le backup!"
547, "Est'ce que le backup sera supprimé aussi?"
548, "Voulez-vous vraiment supprimer l'entrée autostart de "
549, "?"
550, "L'entrée sera supprimée à demeure! "
551, "Voulez-vous créer un backup de l'entrée qui doit être supprimée?"
552, "Voulez-vous sauvegarder l'entrée qui doit être supprimée?"
553, "Modifier le chemin"
554, "Ajouter des paramètres à le chemin si nécessaire ou le modifier:"
555, "Erreur! Le logiciel ne pouvait pas être chargé dans l'autostart!"
556, "Erreur! L'application ne pouvait pas être chargé dans l'autostart!"
557, "Il pourrait exister des problèmes en question de l'effectuer le logiciel!"
558, "Exporter"
559, "Choisissez une autre entrée s.v.p!"
560, "Chemin d'accès du fichier:"
561, "Clef de l'enregistrement:"
562, "Propriétés de"
563, "Activer"
564, "Désactiver"
565, "Supprimer"
566, " pas possible!"
567, "Cause: "
568, "Snapshot autostart du "
569, " pour "
570, "inconnu"
571, "ouvrir Clearas"
572, "\\ouvrir Clearas\\command"
573, "Erreur en question de l'accès au dossier autostart!"
574, "Erreur en question de l'accès à la registry!"
575, "Erreur en question de supprimer la valeur!"
576, "Erreur en question de créer le clef!"
577, "Erreur en question de supprimer le clef!"
578, "Erreur en question de créer ou supprimer le clef!"
579, "Erreur en question de créer ou supprimer l'application!"
580, "Il y a une erreur inconnue!"
581, "Clearas n'est pas compatible votre version de Windows ("
582, "). Vous avez besoin de Windows XP au moins!"
583, "L'autostart"
584, "Menu contextuel"
585, "Voulez-vous supprimer l'entrée menu contextuel de "
586, "Les entrées de cette liste que vous voyez dans les menus contextuels différents."
587, "Entrée"
588, "Lieu"
589, "Voulez-vous finir de le télécharger?"
590, "Mode Expert"
591, "Chercher mise à jour"
592, "S'il vous plaît sélectionnez un dossier:"
593, "Prêt!"
594, "Source introuvable!"
595, "Annulé!"
596, "Arrêter"
597, "Télécharger le Certificat"
598, "Clearas mise à jour disponible! Voulez-vous le télécharger maintenant?"
599, "Il n'ya pas de mise à jour disponible!"
600, "Clearas mise à jour"
601, "Télécharger l'Édition Personnel"
602, "Voulez-vous installer l'Édition Personnel maintenant?"
603, "Erreur de la création fichier!"
604, "Impossible de se connecter au serveur de mise à jour!"
605, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
606, "Modifier l'entrée"
607, "L'entrée sera nommé comme suit:"
608, "Signaler une erreur"
609, "Modifier les paramètres"
610, "Spécifier les paramètres (facultatif):"
}