STRINGTABLE
{
//Deutsch
100, "Information"
101, "Warnung"
102, "Fehler"
103, "Frage"
104, "Bestätigung"
105, "Update"
106, "abbrechen"
107, "Abgebrochen!"
108, "Fertig!"
109, "Bitte Ordner wählen"
110, "Wollen Sie den Download wirklich beenden?"
111, "Wollen Sie das Update jetzt installieren?"
112, "Keine Verbindung zum Update-Server!"
113, "Bitte überprüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
114, "Hilfe"
115, "Nach Update suchen"
116, "Zertifikat herunterladen"
117, "Über ..."
118, " nicht möglich!"
119, "HTTP Fehler: %d"
120, "Ansicht"
121, "Update (Build %d) verfügbar!"
122, "Möchten Sie es jetzt herunterladen?"
123, "Kein Update verfügbar!"
124, "Update herunterladen"
125, "Sprache wählen"
126, "Fehler melden"
127, "Das Zertifikat von PM Code Works ist bereits installiert!"
128, "Wollen Sie es trotzdem herunterladen?"
129, "Zur Website"
130, "Download wurde abgebrochen!"
131, "ja"
132, "nein"
133, "Registrierungsdatei exportieren"
134, "Nach Programm suchen"
135, "Eigenschaften"
136, "Registrierungsdatei *.reg|*.reg"
137, "RunOnce-Einträge anzeigen"
138, "Anwendung *.exe|*.exe|Verknüpfung *.lnk|*.lnk|Batch-Datei *.bat|*.bat"
139, "STARTUP-Dateien *%s|*%s|COMMONSTARTUP-Dateien *%s|*%s"
140, "Anwendung \"%s\" existiert bereits!"
141, "Backup \"%s\" existiert bereits!"
142, ""
143, ""
144, "Backup wurde erfolgreich unter \"%s\" erstellt!"
145, ""
146, "Fehler! Backup konnte nicht erstellt werden!"
147, "Soll das Backup auch gelöscht werden?"
148, "Wollen Sie den Autostart-Eintrag von \"%s\" wirklich löschen?"
149, "Der Eintrag wird dauerhaft gelöscht! "
150, "Es kann zu Problemen bei der Ausführung des Programms kommen!"
151, "Wollen Sie von dem zu löschenden Eintrag ein Backup erstellen?"
152, "Wollen Sie den zu löschenden Eintrag in einer Datei speichern?"
153, "Pfad bearbeiten"
154, "Fügen Sie dem Pfad Parameter hinzu, falls notwendig oder ändern Sie ihn ab:"
155, "Fehler! Programm konnte nicht ín den Autostart geladen werden!"
156, ""
157, ""
158, "Exportieren"
159, "Bitte wählen Sie einen anderen Eintrag aus!"
160, "Dateipfad von \"%s\": \n\n%s"
161, "Registry Schlüssel von \"%s\": \n\n%s"
162, "Kontextmenü Eintrag \"%s\": \n\n%s"
163, ""
164, ""
165, ""
166, " nicht möglich!"
167, "Grund: "
168, ""
169, ""
170, ""
171, "Öffne Clearas"
172, ""
173, "Fehler beim Zugriff auf den Autostart-Ordner!"
174, "Fehler beim Zugriff auf die Registry!"
175, "Fehler beim Löschen des Wertes!"
176, "Fehler beim Erstellen des Schlüssels!"
177, "Fehler beim Löschen des Schlüssels!"
178, "Fehler beim Erstellen oder Löschen des Schlüssels!"
179, "Fehler beim Erstellen oder Löschen der Verknüpfung!"
180, ""
181, "Clearas ist nicht kompatibel zu ihrer Windows-Version ("
182, "). Sie benötigen mindestens Windows 2000!"
183, "Autostart"
184, "Kontextmenü"
185, "Wollen Sie den Kontextmenü-Eintrag von \"%s\" wirklich löschen?"
186, "Einträge dieser Liste sehen Sie in verschiedenen Kontextmenüs."
187, "Eintrag"
188, "Ort"
189, "Expertenmodus"
190, "Programme aus dieser Liste (mit einem \"ja\") werden bei jedem Start geladen."
191, "Aktiv"
192, "Programm "
193, ""
194, "Schlüssel"
195, "Deaktivierungsdatum"
196, "Aktivieren"
197, "Deaktivieren"
198, "Exportieren"
199, "Löschen"
200, "Beenden"
201, "Datei"
202, "Bearbeiten"
203, "Fehler beim Erstellen der Datei!"
204, "Papierkorb Kontextmenü-Eintrag"
205, "Backup beim Aktivieren löschen"
206, "Eintrag bearbeiten"
207, "Eintrag wird wie folgt benannt:"
208, ""
209, "Parameter bearbeiten"
210, "Parameter angeben (optional):"
211, "Programm hinzufügen"
212, "Backup importieren"
213, "Eintrag exportieren"
214, "Liste exportieren"
215, "Aktualisieren"
216, "Standard Spaltengröße"
217, "Spaltengröße optimeren"
218, "Deaktivierungsdatum anzeigen"

//Englisch
300, "Information"
301, "Warning"
302, "Error"
303, "Question"
304, "Confirmation"
305, "Update"
306, "abort"
307, "Canceled!"
308, "Done!"
309, "Please select a folder"
310, "You really want to stop the download?"
311, "Do you want to install the update now?"
312, "Unable to connect to the update server!"
313, "Please check your internet connection and try again."
314, "Help"
315, "Search for Update"
316, "Download Certificate"
317, "About ..."
318, " impossible!"
319, "HTTP error: %d"
320, "View"
321, "Update (Build %d) available!"
322, "Do you want to download it now?"
323, "No update available!"
324, "Download the update"
325, "Choose Language"
326, "Report a bug"
327, "The certificate of PM Code Works is already installed!"
328, "Do you want to download it anyway?"
329, "Go to website"
330, "Download has been canceled!"
331, "yes"
332, "no"
333, "Export regfile"
334, "Search for program"
335, "Properties"
336, "Regfile *.reg|*.reg"
337, "Show RunOnce-entries"
338, "Application *.exe|*.exe|Link file *.lnk|*.lnk|Batch file *.bat|*.bat"
339, "STARTUP-files *%s|*%s|COMMONSTARTUP-files *%s|*%s"
340, "Application \"%s\" already exists!"
341, "Backup \"%s\" already exists!"
342, ""
343, ""
344, "Backup successfully created under \"%s\"!"
345, ""
346, "Error! Backup could not be created!"
347, "Shall the Backup be deleted too?"
348, "Are you sure you want to delete the Startup Entry of \"%s\"?"
349, "The Entry will be deleted permanently! "
350, "You may have problems within the runtime of the application!"
351, "Do you want to create a Backup of this program?"
352, "Do you want to save the entry in a file?" 
353, "Edit path"
354, "Add parameters to the path if necessary or just edit it:"
355, "Error! Program could not be loaded to the Startup folder!"
356, ""
357, ""
358, "Export"
359, "Please choose an other entry!" 
360, "Filepath of \"%s\": \n\n%s"
361, "Registry key of \"%s\": \n\n%s"
362, "Context menu entry \"%s\": \n\n%s"
363, ""
364, ""
365, ""
366, " impossible!"
367, "Reason: "
368, ""
369, ""
370, ""
371, "open Clearas" 
372, "\\Open Clearas\\command"
373, "Error while access to the Startup folder!"
374, "Error while access to the Registry!"
375, "Error while deleting a figure!"
376, "Error while creating a key!"
377, "Error while deleting a key!"
378, "Error while creating or deleting a key!"
379, "Error while creating or deleting a linkfile!"
380, "Unknown Error occurred!"
381, "Clearas is not compatible to your Windows Version ("
382, "). At least you need Windows XP!"
383, "Startup"
384, "Context Menu"
385, "Are you sure you want delete the Context Menu entry of \"%s\"?"
386, "Entries in this list you see in many Context Menues."
387, "Entry"
388, "Location"
389, "Expertmode"
390, "Programs in this list (with \"yes\") will be loaded at every start."
391, "Active"
392, "Program "
393, ""
394, "Key"  
395, "Date of Deactivation"
396, "Activate"
397, "Deactivate"
398, "Export"
399, "Delete"
400, "Quit"
401, "File"
402, "Edit"
403, "Error while creating the file!"
404, "Recycle Bin context menu entry"
405, "Delete backup while activating"
406, "Edit entry"
407, "Entry will be named as follows:"
408, ""
409, "Edit Parameters"
410, "Specify parameters (optional):"
411, "Add program"
412, "Import Backup"
413, "Export entry"
414, "Export list"
415, "Refresh"
416, "Standard columnwidth"
417, "Optimate columnwidth"
418, "Show date of deactivation"

//Französisch
500, "Information"
501, "Avertissement"
502, "Erreur"
503, "Question"
504, "Confirmation"
505, "MAJ"
506, "abandonner"
507, "Annulé!"
508, "Prêt!"
509, "S'il vous plaît sélectionner un dossier"
510, "Vous voulez vraiment arrêter le téléchargement?"
511, "Voulez-vous installer la mise à jour maintenant?"
512, "Impossible de se connecter au serveur de mise à jour!"
513, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
514, "Aider"
515, "Chercher mise à jour"
516, "Télécharger le Certificat"
517, "à propos de..."
518, " impossible!"
519, "HTTP erreur: %d"
520, "Vue"
521, "Mise à jour (Build %d) disponible!"
522, "Voulez-vous le télécharger maintenant?"
523, "Il n'ya pas de mise à jour disponible!"
524, "Télécharger mise à jour"
525, "Choisir langue"
526, "Signaler une erreur"
527, "Le certificat de PM Codeworks est déjà installé!"
528, "Voulez-vous télécharger de toute façon?"
529, "Aller sur le site"
530, "Télécharger a été annulé!"
531, "oui"
532, "non"
533, "Exporter fichier enregistrement"
534, "Chercher logiciel"
535, "Propriété"
536, "Fichier enregistrement *.reg|*.reg"
537, "Afficher les enregistrements RunOnce"
538, "Application *.exe|*.exe|Raccourci *.lnk|*.lnk|Fichier batch *.bat|*.bat"
539, "Fichiers STARTUP *%s|*%s|Fichiers COMMONSTARTUP-files *%s|*%s"
540, "L'application \"%s\" existe déjà!"
541, "Backup \"%s\" existe déjà!"
542, ""
543, ""
544, "Backup était créé avec succès sous \"%s\" créé!"
545, ""
546, "Erreur! Ce n'était pas possible de créer le backup!"
547, "Est'ce que le backup sera supprimé aussi?"
548, "Voulez-vous vraiment supprimer l'entrée autostart de \"%s\"?"
549, "L'entrée sera supprimée à demeure! "
550, "Il pourrait exister des problèmes en question de l'effectuer le logiciel!"
551, "Voulez-vous créer un backup de l'entrée qui doit être supprimée?"
552, "Voulez-vous sauvegarder l'entrée qui doit être supprimée?"
553, "Modifier le chemin"
554, "Ajouter des paramètres à le chemin si nécessaire ou le modifier:"
555, "Erreur! Le logiciel ne pouvait pas être chargé dans l'autostart!"
556, ""
557, ""
558, "Exporter"
559, "Choisissez une autre entrée s.v.p!"
560, "Chemin d'accès du fichier de \"%s\": \n\n%s"
561, "Clef de l'enregistrement de \"%s\": \n\n%s"
562, "Entrée de menu contextuel \"%s\": \n\n%s"
563, ""
564, ""
565, ""
566, " pas possible!"
567, "Cause: "
568, ""
569, ""
570, ""
571, "ouvrir Clearas"
572, "\\ouvrir Clearas\\command"
573, "Erreur en question de l'accès au dossier autostart!"
574, "Erreur en question de l'accès à la registry!"
575, "Erreur en question de supprimer la valeur!"
576, "Erreur en question de créer le clef!"
577, "Erreur en question de supprimer le clef!"
578, "Erreur en question de créer ou supprimer le clef!"
579, "Erreur en question de créer ou supprimer l'application!"
580, "Il y a une erreur inconnue!"
581, "Clearas n'est pas compatible votre version de Windows ("
582, "). Vous avez besoin de Windows XP au moins!"
583, "L'autostart"
584, "Menu contextuel"
585, "Voulez-vous supprimer l'entrée menu contextuel de "
586, "Les entrées de cette liste que vous voyez dans les menus contextuels différents."
587, "Entrée"
588, "Lieu"
589, "Mode Expert"
590, "Logiciels de cette liste (avec \"oui\") deviendront chargés à chaque démarrage."
591, "Aktif"
592, "Logiciel "
593, ""
594, "Clef"
595, "Date de la désactivation"
596, "Activer"
597, "Désactiver"
598, "Exporter"
599, "Supprimer"
600, "Arrêter"
601, "Fichier"
602, "Modifier"
603, "Erreur de la création fichier!"
604, "Corbeille entrée dans menu contextuel"
605, "supprimer backup au cours d'activer "
606, "Modifier l'entrée"
607, "L'entrée sera nommé comme suit:"
608, ""
609, "Modifier les paramètres"
610, "Spécifier les paramètres (facultatif):"
611, "Ajouter un programme"
612, "Importer backup"
613, "Exporter entrée"
614, "Exporter liste"
615, "Actualiser"
616, "Taille standard de la colonne"
617, "Optimaliser taille de la colonne"
618, "Afficher date de la désactivation"
}